 <% if logged_in? %>
<div class="row">
 <aside class="col-sm-4" style="padding:0px;">
  <div class="profile w-100">
   <img class="profile__img" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="プロフィール画像">
    <div class="profile__name"><p><%= @user.name %></p></div>
   <div class="profile__desc"><p style=" text-align: center;">プロフィール紹介<br><%= @user.introduction %></p></div>
    <%= render 'relationships/follow_button', user: @user %>
    <div class="edit">
     <% if @user.id == current_user.id %><a href="<%=  edit_user_path(current_user) %>" class="btn btn-outline-dark <%= 'active' if current_page?(edit_user_path(current_user)) %>">編集する</a>
     <% end %>
    </div>
  </div>
    <div class="btn_07">
     <% if @user.id == current_user.id %><%= link_to '行動目標計画ページ一覧', posts_user_path(@user), class: 'btn_07 mb-2 w-100' %><% end %>
    </div>
    <div class="btn_07">
     <%= link_to '進捗報告ページ一覧', reports_user_path(@user), class: 'btn_07 mb-2 w-100' %>
    </div>
    <div class="btn_07">
     <% if @user.id == current_user.id %><%= link_to 'タイムライン', timelines_user_path(@user), class: 'btn_07 mb-2 w-100' %><% end %>
    </div>   
   <div class="btn_07">
    <%= link_to 'フォロー一覧',followings_user_path(@user), class: 'btn_07 mb-2 w-100' %>
   </div>
   <div class="btn_07">
    <%= link_to 'フォロワー一覧',followers_user_path(@user), class: 'btn_07 mb-2 w-100' %>
   </div>
    <div class="btn_07">
     <% if @user.id == current_user.id %><%= link_to 'いいね一覧', favorites_user_path(@user), class: 'btn_07 mb-2 w-100' %><% end %>
   </div> 
 </aside>
  
  <div class="col-sm-8"style="padding:0px;">
   <div class = "row">
       <div class="col-sm-4">
         <%= link_to 'サイト紹介', introduction_url, class: 'mb-1 btn btn--yellow btn--cubic w-100' %>
        </div>
       <div class="col-sm-4">
         <%= link_to 'OK日記一覧', reports_url, class: 'mb-1 btn btn--yellow btn--cubic w-100' %>
        </div>
        <div class="col-sm-4">
         <%= link_to 'ユーザー一覧', users_url, class: 'mb-1 btn btn--yellow btn--cubic w-100' %>
        </div>
   </div>
     <div class="kakomi-kage3"><span class="title-kage3">結果目標</span><%= @user.goal %></div>
     
     <div class="wboard-w2"><span class="title-w2">予測逆算日</span>
     
       <% if @user.goal_day.present? && ((@user.goal_day) - (Date.today)).to_int > 0 %>
        <%=   ((@user.goal_day) - (Date.today)).to_int %>
        <% else %>
        <%= @user.goal_day = 0  %>
       <% end %>
       日
       </div>
     <div class="wboard-w2"><span class="title-w2">予測達成日</span><% if @user.goal_day.present? %><%= @user.goal_day %><% end %></div>
  </div>
</div>

<% else %>
<div class ="top">
    <div class ="topcontant">
          <div class="toppages"><h1>OK日記</h1></div>
             <p>3ヶ月で理想の自分に到達する</p>
          <div id="btn">
              <%= link_to '今すぐはじめる', signup_path, class: 'btn btn-outline-warning mt-3 mb-3' %>
         </div>
         <div id="btn2">
           <%= link_to 'ログイン', login_path, class: "btn btn-outline-primary mt-3 mb-3 ml-2" %>
        </div>
    </div>
<div class="row">
   <div class="col-sm-6">
     <div class="sub">
       <div class="box28" style="height:600px;">
         <span class="box-title">OK日記とは</span>
      　　　　　　<p>OK日記とは、自分に「OK！」と言えることを書き、自分を褒めちぎる日記です。<br>
               目標は諦めなければ達成できるもの。<br>
               ただ、モチベーションが長続きせずに三日坊主で終わってしまうことはよくあることです。<br>
               目標を諦めてしまう理由のひとつに行動はしているものの達成感が得られないことがあります。<br>
               OK日記は毎朝、達成できそうな小さなプチ目標を3つ登録し、目標が達成し終わったら進捗を投稿します。<br>
               自分に「OK！」と言えることで自己肯定感の土台となる「達成感」を育てることができます。<br>
               同じ目標に向かって進んでいる仲間たちと共に応援し合うことで、目標を達成しやすい環境のなかで3ヶ月でなりたい自分になるための目標達成管理アプリです。
             </p>
        </div>
      </div>
     </div>
   <div class="col-sm-6">
     <div class="wrapper">
       <div class="box28" style="height:600px;">
         <span class="box-title">OK日記の効果</span>
            <p>
            <br>
             1.小さな目標を達成する過程のなかで自己肯定感が育ち自信が生まれる<br>
             2.その日の出来事を記録することで目標の進捗を視覚化できる<br>
             3.日記をつけることが習慣化に繋がり、目標を達成するために必要な継続力が身に付く<br>
             4.同じ目標に向かって進んでいる仲間がいることがモチベーションUPにつながる<br>
             5.文字にすることで頭の中が整理され客観的に物事を捉えることができる<br>
             </p>
       </div>
    </div>
   </div>
 </div>
</div>
<% end %>