  <% if posts.any? %>
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-6" style="padding:0;">
          <div class="sec">
            <ul>
              <li>
               <div class="box2">
                <span class="fa fa-code"></span>
                <div class="mb-2">
                    <p class="title01"><%= link_to @user.name.truncate(12, omission: '...') , post %>さんの行動計画</p>
                </div>    
                <div class="mb-2">
                    <h2><%= post.day  %></h2>
                 </div>    
                  <div class="mb-2">
                  <h2>本日のプチ目標</h2>
                   <div class="post1"><%= post.goal1.truncate(12, omission: '...') %></div>
                   <div class="post1"><%= post.goal2.truncate(12, omission: '...') %></div>
                   <div class="post1"><%= post.goal3.truncate(12, omission: '...') %></div>
                </div>
                <div class="mb-2">
                  <h2>本日の意気込み</h2>
                   <div class="post1"><%= post.content.truncate(24, omission: '...') %></div>
                </div>    
                <div class="mb-2">
                  <h2>本日の天気</h2>
                   <div class="post1"><%= post.feeling1 %></div>
                </div>
                <div class="mb-2">
                  <h2>本日の色</h2>
                   <div class="post1"><%= post.feeling2 %></div>
                </div>
               </div>
            </li>
          </ul>
        </div> 
      </div>   
      <% end %>
    </div>
  </div>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>